
<div *ngIf="retailer">
    <h2><span jhiTranslate="coreDataE1App.retailer.detail.title">Retailer</span> {{retailer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="coreDataE1App.retailer.code">Code</span></dt>
        <dd>
            <span>{{retailer.code}}</span>
        </dd>
        <dt><span jhiTranslate="coreDataE1App.retailer.name">Name</span></dt>
        <dd>
            <span>{{retailer.name}}</span>
        </dd>
        <dt><span jhiTranslate="coreDataE1App.retailer.address">Address</span></dt>
        <dd>
            <div *ngIf="retailer.address">
                <a [routerLink]="['/address', retailer.address?.id]">{{retailer.address?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'retailer/'+ retailer.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
