<div>
    <h2>
        <span jhiTranslate="coreDataE1App.address.home.title">Addresses</span>
        <button class="btn btn-primary float-right create-address" [routerLink]="['/', { outlets: { popup: ['address-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="coreDataE1App.address.home.createLabel">
            Create new Address
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="addresses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="coreDataE1App.address.houseNo">House No</span></th>
            <th><span jhiTranslate="coreDataE1App.address.street">Street</span></th>
            <th><span jhiTranslate="coreDataE1App.address.city">City</span></th>
            <th><span jhiTranslate="coreDataE1App.address.countyOrProvince">County Or Province</span></th>
            <th><span jhiTranslate="coreDataE1App.address.zipOrPostCode">Zip Or Post Code</span></th>
            <th><span jhiTranslate="coreDataE1App.address.country">Country</span></th>
            <th><span jhiTranslate="coreDataE1App.address.otherDetails">Other Details</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let address of addresses ;trackBy: trackId">
                <td><a [routerLink]="['../address', address.id ]">{{address.id}}</a></td>
                <td>{{address.houseNo}}</td>
                <td>{{address.street}}</td>
                <td>{{address.city}}</td>
                <td>{{address.countyOrProvince}}</td>
                <td>{{address.zipOrPostCode}}</td>
                <td>{{address.country}}</td>
                <td>{{address.otherDetails}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../address', address.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
