

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAddressLabel" jhiTranslate="coreDataE1App.address.home.createOrEditLabel">Create or edit a Address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!address.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="address.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="coreDataE1App.address.houseNo" for="field_houseNo">House No</label>
            <input type="text" class="form-control" name="houseNo" id="field_houseNo"
                [(ngModel)]="address.houseNo"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="coreDataE1App.address.street" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street"
                [(ngModel)]="address.street"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="coreDataE1App.address.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="address.city"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="coreDataE1App.address.countyOrProvince" for="field_countyOrProvince">County Or Province</label>
            <input type="text" class="form-control" name="countyOrProvince" id="field_countyOrProvince"
                [(ngModel)]="address.countyOrProvince"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="coreDataE1App.address.zipOrPostCode" for="field_zipOrPostCode">Zip Or Post Code</label>
            <input type="text" class="form-control" name="zipOrPostCode" id="field_zipOrPostCode"
                [(ngModel)]="address.zipOrPostCode"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="coreDataE1App.address.country" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                [(ngModel)]="address.country"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="coreDataE1App.address.otherDetails" for="field_otherDetails">Other Details</label>
            <input type="text" class="form-control" name="otherDetails" id="field_otherDetails"
                [(ngModel)]="address.otherDetails"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
