<div>
    <h2>
        <span jhiTranslate="coreDataE1App.commodity.home.title">Commodities</span>
        <button class="btn btn-primary float-right create-commodity" [routerLink]="['/', { outlets: { popup: ['commodity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="coreDataE1App.commodity.home.createLabel">
            Create new Commodity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="commodities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cmCode"><span jhiTranslate="coreDataE1App.commodity.cmCode">Cm Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="coreDataE1App.commodity.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="coreDataE1App.commodity.status">Status</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commodity of commodities ;trackBy: trackId">
                <td><a [routerLink]="['../commodity', commodity.id ]">{{commodity.id}}</a></td>
                <td>{{commodity.cmCode}}</td>
                <td>{{commodity.description}}</td>
                <td jhiTranslate="{{'coreDataE1App.CommodityStatus.' + commodity.status}}">{{commodity.status}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../commodity', commodity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'commodity/'+ commodity.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'commodity/'+ commodity.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="commodities && commodities.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
