

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCommodityLabel" jhiTranslate="coreDataE1App.commodity.home.createOrEditLabel">Create or edit a Commodity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!commodity.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="commodity.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="coreDataE1App.commodity.cmCode" for="field_cmCode">Cm Code</label>
            <input type="number" class="form-control" name="cmCode" id="field_cmCode"
                [(ngModel)]="commodity.cmCode"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="coreDataE1App.commodity.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="commodity.description"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="coreDataE1App.commodity.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="commodity.status" id="field_status" >
                <option value="ACTIVE" jhiTranslate="coreDataE1App.CommodityStatus.ACTIVE">ACTIVE</option>
                <option value="INACTIVE" jhiTranslate="coreDataE1App.CommodityStatus.INACTIVE">INACTIVE</option>
                <option value="DELETED" jhiTranslate="coreDataE1App.CommodityStatus.DELETED">DELETED</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
